* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: #ffc107;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400&display=swap");
body {
  font-family: "Roboto Slab", serif;
  color: black;
  background-color: #012d5e;
  line-height: 1.6;
  font-size: 20px;
}
h1 {
  color: #ffc107;
  text-align: center;
}
h2 {
  color: #ffc107;
  text-align: left;
}

p {
  margin: 10px 0;
  color: #ffffff;
}
